
<div *ngIf="movies">
  <h3>Movies</h3>
  <mat-list>
    <mat-list-item *ngFor="let movie of movies" [routerLink]="['/movie', movie!.id]">
      <span matListItemTitle>{{ movie.info }}</span>
    </mat-list-item>
  </mat-list>
</div>
<div *ngIf="isBusy()">
  <mat-spinner color="#AAAAFF" ></mat-spinner>
</div>

<!-- <div *ngIf="movies" class="mat-elevation-z8">
  <mat-table [dataSource]="movies">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let movie">{{ movie.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="director">
      <mat-header-cell *matHeaderCellDef>Director</mat-header-cell>
      <mat-cell *matCellDef="let movie">{{ movie.director }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="released">
      <mat-header-cell *matHeaderCellDef>Released Date</mat-header-cell>
      <mat-cell *matCellDef="let movie">{{ movie.released | date }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div> -->
